In [1]:
# integer number types are whole numbers
1

1

In [2]:
# floats are a number type represented by decimals 
1.0

1.0

In [3]:
# the type() function allows you to see the data type of whatever argument you pass through it
type(1)

int

In [4]:
type(1.0)

float

In [5]:
# simple math equations can be done within python

## addition can be done with the + sign
1+1

2

In [6]:
## Multiplication can be done with the * sign
2*3

6

In [7]:
## Division can be done with the / sign
15/3

5.0

In [8]:
## Exponents can be done with the double * sign
2**3

8

In [9]:
## To find the remainder of a division equation you can use the % sign
4%2

0

In [10]:
5%2

1

In [11]:
## Standard order of operations are followed with python
5 + 5 * 2 + 4

19

In [12]:
(5 + 5) * (2 + 4)

60

In [13]:
## Numbers can be assigned to variables 
x = 3
y = 5

## Those variables can then be used in equations

x + y

8

In [14]:
x * y

15

In [15]:
# Strings are a data type in which a series of characters are grouped together in quoation marks

'This is a single quation string'

'This is a single quation string'

In [16]:
"This is a double quation string"

'This is a double quation string'

In [17]:
## If you need to use an apostrophe, make sure to use double quotes so you don't get an error
"This won't result in an error"

"This won't result in an error"

In [18]:
## If you must use single quotes you can use a \ to tell python the apostrophe is part of the string, not code format
'This won\'t result in an error'

"This won't result in an error"

In [19]:
# The print() function will return a string without quotes
print('Hello, World!')

Hello, World!

In [20]:
# Formatting can be used to easily adjust and customize strings
print("My name is {}".format("John"))

My name is John

In [21]:
## Variables can be used if formatted print statements

name = "John"

print("My name is {}".format(name))

My name is John

In [22]:
## Multiple items can be put together as a string

print("My name is {}, my favorite color is {}".format(name, 'red'))

My name is John, my favorite color is red

In [23]:
# A list in python is a sequence of items bound inside brackets

## A list can be a sequence of numerical values
[1,2,3,4,5,6,7,8,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
## A list can also be a sequence of strings
['This', 'is', 'a', 'list']

['This', 'is', 'a', 'list']

In [25]:
# Indexes can be used to grab specific items in a list
mylist = [1,2,3,4,5,6,7,8,9]

## The first item is indicated by the number 0
mylist[0]

1

In [26]:
## The last item is indicated by -1
mylist[-1]

9

In [27]:
## Lists can also be appended to
mylist.append(10)

In [28]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
## Lists can be listed inside lists
mylist2 = [1,2,[3,4,5],[6,7],8,9]

mylist2

[1, 2, [3, 4, 5], [6, 7], 8, 9]

In [30]:
## Indexes can be stacked
mylist2[3][1]

7

In [31]:
# Dictionaries can be written in curly brackets to store information

d = {'key1' : 'value1', 'key2' : 'value2'}

d

{'key1': 'value1', 'key2': 'value2'}

In [32]:
## Values in dictionaries are accessed by their key word
d['key1']

'value1'

In [33]:
# A Bool value indicated true or false data type
True

True

In [34]:
## Booleans may sometimes be referred to in binary such as 0 for False, 1 for True

In [35]:
# A tuple is like a list in which a sequence of items are grouped in parenthesis
t = (1,2,3)

t

(1, 2, 3)

In [36]:
## A key feature of tuples are that they are immutable and can not be changed

In [37]:
# A set is like a dictionary, except just a list of values without key words

s = {1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3}

## A set will only return the unique values within the list
s

{1, 2, 3}