In [1]:
import numpy as np
import pandas as pd

In [2]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [3]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [4]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [5]:
sales_Q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [6]:
# Once your data is in a series it can be manipulated much like a numpy array

sales_Q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [8]:
# When you have 2 series with similar indexes, you can use mathematical operators to perform equations

sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [11]:
# Using the previous method will result in NaN if an index value does not appear on both series

# You can avoid that using built in functions and utilizing the fill_value argument

sales_Q1.add(sales_Q2, fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64